.black {
  background-color: #282c34;
  color: white;
  text-align: center;
}

.container img {
  height: 100%;
  width: 100%;
}

.container img {
  object-fit: contain;
/* or
  object-fit: cover; */
} 
